<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Character_JQ_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,71}}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>Character_JQ_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,397},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>Character_JQ_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{126,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,118}}</string>
                <key>sourceSize</key>
                <string>{126,118}</string>
            </dict>
            <key>Character_JQ_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,397},{100,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,101}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>Character_JQ_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{116,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,104}}</string>
                <key>sourceSize</key>
                <string>{116,104}</string>
            </dict>
            <key>Character_JQ_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,108},{115,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,83}}</string>
                <key>sourceSize</key>
                <string>{115,83}</string>
            </dict>
            <key>Character_JQ_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,210},{69,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,111}}</string>
                <key>sourceSize</key>
                <string>{69,111}</string>
            </dict>
            <key>paoku 00188.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{113,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{113,103}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>paoku 00189.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,122},{113,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{113,103}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>paoku 00190.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,390},{111,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{111,103}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>paoku 00191.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,281},{107,103}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{107,103}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>paoku 00192.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,296},{107,99}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{107,99}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>paoku 00193.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{117,103}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{117,103}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>paoku 00194.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{115,103}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{115,103}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>paoku 00195.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,107},{115,101}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{115,101}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>paoku 00196.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{111,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{111,103}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>paoku 00197.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{111,103}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{111,103}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>paoku 00198.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,227},{113,99}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{113,99}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>paoku 00199.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,193},{113,101}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{113,101}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hero.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2093c57dbaa4cfa97cc0251a2c06ced8:1/1$</string>
            <key>textureFileName</key>
            <string>Hero.png</string>
        </dict>
    </dict>
</plist>
